<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>	
	<title>Tasket</title>
	<link media="screen" rel="stylesheet" type="text/css" href="/stylesheets/main.css">
	
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/jquery-ui.js"></script>
	<script type="text/javascript" src="/javascripts/application.js"></script>

</head>

<body>

  <div class="content">
	
		<div id="header">
			<%= partial :header %>
		</div>
    
		<div id="container">

				<%= yield %>
		</div>

	</div>
</body>
</html>