/*
foo
_______________________________
RESET */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}
caption, th, td {text-align:left;font-weight:normal;}
table, td, th {vertical-align:middle;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a,a:hover {text-decoration: none;}
a img {border:none;}
ul,ul li {list-style-type: none;}
/*
_______________________________
DISABLE DEPRECATED HTML */
font,basefont{color:inherit;font:inherit;font-size:100%}center,*[align]{text-align:inherit}s,strike,u{text-decoration:inherit}img{border:none;margin:0}ol{list-style-type:decimal}body{background-color:transparent}tr,th,td{width:auto;height:auto;background-color:transparent;vertical-align:inherit;border:none}table[border],.content table[border]{border-collapse:separate;border-spacing:0}nobr{white-space:normal}marquee{overflow:visible;-moz-binding:none}blink{text-decoration:none}/*
/*
_______________________________
GENERAL */

html {
	
}
body {
	padding: 20px;
	text-align: center;
	background: url('images/logo.png') no-repeat top;
    font-family: Helvetica;
}

a, a:visited {
	color: #00AAFF;
	padding: 2px 2px;
}
a:hover, a:visited:hover {
	color: white;
	background-color: #60C3DA;
}

.content {
	margin: 0 auto;
	width: 900px;
}
#header {
	margin:0 auto;
}
#header h1 {
	font-weight: normal;
    font-family: "Gill Sans";	
	font-size: 74pt;
	padding: 5px 3px;
	margin-left: auto;
	margin-right: auto;
	color: #910F0F;
}
#menu {
	
}
#menu a, #menu a:visited {
	
}
#menu a.current, #menu a.current:hover, #menu a.current:visited {
	
}
#menu a:hover {
	
}

#main_menu a.user_name_action, #main_menu a.user_name_action:visited {
	color: #121212;
	font-weight: bold;
}
#main_menu a.user_name_action:hover {
	color: #121212;
	border-bottom: 1px dotted #121212;
}
#container {
	
}




#tasked {
	margin-top: 10px;
	display: none;
}



.flash_msg {
	padding: 5px;
	background-color: #D9FF39;
	font-weight: bold;
	margin-bottom: 10px;
}
.flash_msg h2 {
	font-size: 2em;
}

ul, ul li, li {
	list-style-type: none;
}

/*#main_menu ul li {
	float: left;
}*/
#sub_menu {
	clear: both;
	width: 600px;
	margin: 0 auto;
}


.submit {     
	border: 1px solid #006; 
	padding: 8px;
	font-size: 14pt;
} 

/* ==== javascript tabs ==== */

UL.tabNavigation {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 300px;
    margin: auto;
}

UL.tabNavigation LI {
    display: inline;
}

UL.tabNavigation LI A {
    padding: 3px 5px;
    background-color: #ccc;
    color: #000;
    text-decoration: none;
}

UL.tabNavigation LI A.selected,
UL.tabNavigation LI A:hover {
    color: #910F0F;
    padding-top: 7px;
}

UL.tabNavigation LI A:focus {
        outline: 0;
}

div.tabs > div {
        padding: 35px;
        margin-top: 3px;
        border: 2px solid #ccc;
	    margin: auto;
}

div.tabs > div h2 {
        margin-top: 0;
}

#first {
    background-color: #910F0F;
}

#second {
    background-color: #910F0F;
}


/* tables */

table {
	color: white;
}

table.login {
	width: 400px;
}

table.login td {
	padding-top: 20px;
}

table td.submit {
	color: #000;
	background: #ffa20f;
	border: 2px outset #d7b9c9
}

table.tasks {
	margin-bottom: 20px;
	width: 900px;
}

tr.task_element {
	background-color: #ccc;
	font-size: 18px;
	color: #121212;
	border-bottom: 1px solid #000;
	padding: 14px;
	margin-bottom: 14px;
}

td.task_headers {
	background-color: #910F0F;
	font-size: 14px;
	color: white;
	border-bottom: 1px solid #000;
	padding: 7px;
	margin-bottom: 14px;
	font-family:Georgia,'Times New Roman',serif;
	font-weight: bold;
}

td.tasks {
	padding: 4px;
	padding-left: 8px;
	font-size: 14px;
}

tr.completed {
	background-color: #83B96B;
}
tr.deleted {
	
}

tr.task_element span {
	font-family:Georgia,'Times New Roman',serif;
	font-style: italic;
	font-weight: bold;
	font-size: 11px;
	color: #121212;
}
tr.task_element p, tr.task_element a {
	padding-left: 10px;
}

.field {
	padding: 5px;
}