<form action="/task/create" method="post">

	<label>Task:</label>
  <input name="body" type="text" size="30" />
	<br />
  <a href="#" id="show_tasked_input">task someone</a>

  <div id="tasked">
		<label>Who?</label>
		<input name="tasked_email" type="text" size="30" />
		(provide email address)
	</div>
	<br />
	<input name="submit" type="submit" value="Submit" />
</form>