<<<<<<< HEAD:views/users/account.erb

=======
>>>>>>> 97f2413831525d99d82bf84665afe777b68d113c:views/users/account.erb
<form action="/user/account" method="post">
	<label>New password:</label>
	<input name="password" type="password" size="30" />
	<br />
	<input name="submit" type="submit" value="Submit" />
</form>